<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>595175608313-u9u5f5f0farc8t1akdv2u1rccc68gjdj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.595175608313-u9u5f5f0farc8t1akdv2u1rccc68gjdj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>595175608313-0hed42nuiv0rlka67aj3sulr5j6ov7gj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDyWEhzfaFI6hkpyUcvWsI8XfOeOMh0xp4</string>
	<key>GCM_SENDER_ID</key>
	<string>595175608313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LamaAlyousef.shoppingList</string>
	<key>PROJECT_ID</key>
	<string>listy-96d4d</string>
	<key>STORAGE_BUCKET</key>
	<string>listy-96d4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:595175608313:ios:a18868d30f9eef8fc57728</string>
</dict>
</plist>